
@{
    ViewData["Title"] = "Terms & Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    section {
        font-size: 14px;
        text-align: justify;
        color: var(--theme-font-color);
    }

    .sub-section {
        font-size: 16px;
        color: var(--theme-sub-section-color);
    }
    .tnc
    {

    }
</style>
<div class="breadcrumb-container">
    <div class="breadcrumb-data-1">
        <div class="row">
            <div class="col-md-6 col-5">
                <div class="breadcrumb-data-3">
                    <h3>@ViewData["Title"]</h3>
                </div>
            </div>
            <div class="col-md-6 col-7">
                <div class="breadcrumb-data-2 d-none d-sm-block">
                    <ul>
                        <li><a href="/home/index">Home</a></li>
                        <li><span>/</span></li>
                        <li><p>@ViewData["Title"]</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-data-container">
    <div class="row">
        <div class="col">
            <div class="box-container">
                <h4>@ViewData["Title"]</h4>
                <section>
                    <div class="width980">
                        <div class="width100 fl">
                            <p class="sub-section">PLEASE READ THESE TERMS CAREFULLY BEFORE USING THIS SERVICE</p>
                            <div>
                                <p class="sub-section">1. Introduction</p>
                                <p>This Terms of Service Agreement made between True Base Pvt. Ltd. (henceforth Bhashkar Jyotish Kendra) online service of the first part and You of the second part is subject to these terms, without prejudice to any additional terms which may be part of an agreement specific to the service you wish to avail of. Your agreement with Bhashkar Jyotish Kendra will always include, at a minimum, the terms and conditions set out in this document.<br> Bhashkar Jyotish Kendra has its own products or services as well as third party products or services but merely acts as a One stop platform for all your temple needs.</p>
                            </div>
                            <div>
                                <p class="sub-section">2. Accepting the Terms</p>
                                <ul class="tnc">
                                    <li>Bhashkar Jyotish Kendra shall interact with customers / clients through email, a form on our website, chat program on our website and phone call, Skype or similar service. By clicking a button or checkbox on a website. you accept and agree to the terms, where this option is made available to you by Bhashkar Jyotish Kendra in the user interface for any offering.</li>
                                    <li>In order to use the offering, you must first agree to the terms. You may not use the offering if you do not accept the terms.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">3. Provision of the offering by Bhashkar Jyotish Kendra</p>
                                <ul class="tnc">
                                    <li>Bhashkar Jyotish Kendra will attempt to continuously innovate in order to provide the best possible offering for its users. You acknowledge and agree that the form and nature of the offering which Bhashkar Jyotish Kendra provides may change from time to time.</li>
                                    <li>You acknowledge and agree that Bhashkar Jyotish Kendra may stop (permanently or temporarily) providing the offering (or any features within the offering) to you or to users generally at Bhashkar Jyotish Kendra's sole discretion.</li>
                                    <li>You acknowledge and agree that if Bhashkar Jyotish Kendra disables access to your account or login route, you may be prevented from accessing the offering, your account details or any files or other content which is contained in your account.</li>
                                    <li>You acknowledge and agree that while Bhashkar Jyotish Kendra may not currently limit your use of the offering in any way, it may do so if that use hinders with the ability of Bhashkar Jyotish Kendra to carry on its operations or the ability of other customers to use the offering.</li>
                                    <li>The supply of the offering will be subject to your making payments, if any, at the regular intervals as stated in the contract for the service. In the event that your account is terminated or access is disabled, or the service is permanently or temporarily stopped, Bhashkar Jyotish Kendra's liability shall extend only to forfeiting the outstanding amount due for the current billing cycle. Bhashkar Jyotish Kendra shall not be made liable or called on to repay any amount paid during any previous billing cycle.</li>
                                    <li>Bhashkar Jyotish Kendra shall not be responsible for any loss or damage caused by a modification of the features, limitation of use of the offering or the discontinuation altogether thereof.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">4. Use of the offering by you</p>
                                <ul class="tnc">
                                    <li>In order to access certain offerings, you may be required to provide information about yourself as part of the registration process for the service, or for your continued use of the offering. You agree that any registration information you give to Bhashkar Jyotish Kendra will always be accurate, correct and up to date. Bhashkar Jyotish Kendra can share customer/ client information with employees and agents (for eg. you may share addresses with delivery agents), any company which acquires Bhashkar Jyotish Kendra, to the Government or law enforcement agencies (if officially requested or required by Order, Notification, Statute or Court Order) and with anyone else, with the consent of the customer / client.</li>
                                    <li>You agree to use the offering only for your personal, non-commercial use and for purposes that are permitted by (a) the terms and (b) any applicable law, regulation or guidelines.</li>
                                    <li>You agree not to access (or attempt to access) any of the offering by any means other than through the interface that is provided by Bhashkar Jyotish Kendra, unless you have been specifically allowed to do so in a separate agreement with Bhashkar Jyotish Kendra. You specifically agree not to access (or attempt to access) any of the offering through any automated means (including through the use of scripts or web crawlers).</li>
                                    <li>You agree that you will not engage in any activity that interferes with or disrupts the offering (or the servers and networks which are connected to the offering).</li>
                                    <li>Unless you have been specifically permitted to do so in a separate agreement with Bhashkar Jyotish Kendra, you agree that you will not reproduce, duplicate, copy, sell, trade or resell the offering for any purpose.</li>
                                    <li>You agree that you are solely responsible for (and that Bhashkar Jyotish Kendra has no responsibility to you or to any third party for) any breach of your obligations under the Terms and for the consequences (including any loss or damage which Bhashkar Jyotish Kendra may suffer) of any such breach.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">5. Your passwords and account security</p>
                                <ul class="tnc">
                                    <li>You agree and understand that you are responsible to Bhashkar Jyotish Kendra and to third parties for maintaining the confidentiality of passwords associated with any account you use to access the offering. You will be solely responsible for all activities that occur under your account.</li>
                                    <li>Bhashkar Jyotish Kendra will take due care to ensure the confidentiality of your credentials. You agree and acknowledge that in the very unlikely event of your credentials becoming known to a third party on account of an intrusion into Bhashkar Jyotish Kendra database, Bhashkar Jyotish Kendra shall not be made liable for the resulting damages.</li>
                                    <li>If you become aware of any unauthorized use of your password or of your account, you agree to notify the concerned official at Bhashkar Jyotish Kendra immediately.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">6. Content in the offering</p>
                                <ul class="tnc">
                                    <li>You understand that all information (such as data files, written text, computer software, or images) which you may have access to as part of, or through your use of, the offering are the sole responsibility of the person from which such content originated.</li>
                                    <li>You should be aware that content presented to you as part of the offering, including but not limited to advertisements and promotional material of Bhashkar Jyotish Kendra or other companies, is protected by intellectual property rights which are owned by Bhashkar Jyotish Kendra, or the sponsors or advertisers who provide that content to Bhashkar Jyotish Kendra (or by other persons or companies on their behalf). You may not modify, rent, lease, loan, sell, distribute, copy or create derivative work based on this content (either in whole or in part) unless you have been specifically told that you may do so by Bhashkar Jyotish Kendra or by the owners of that content, in a separate agreement. Any content being disseminated using Bhashkar Jyotish Kendra's sales network or the product, service or platform may be pre-screened, reviewed, flagged, filtered, modified or simply refused or removed. Any spam or pornographic material and / or any illegal content will be immediately deleted and we reserve the right to take appropriate legal action.</li>
                                    <li>You agree that you are solely responsible for (and that Bhashkar Jyotish Kendra has no responsibility to you or to any third party for) any content that you create, transmit or display while using the offering or for the consequences of your actions (including any loss or damage which Bhashkar Jyotish Kendra may suffer) by doing so.</li>
                                    <li>You understand that by using the offering you may be exposed to content of other users that you may find offensive, indecent or objectionable and that, in this respect, you use the offering at your own risk. Bhashkar Jyotish Kendra shall not be made responsible for any repugnant content circulated on its offering by other users.</li>
                                    <li>On noticing any such content, it is your duty to bring it to the attention of Bhashkar Jyotish Kendra officials immediately, who will take due care to delete it from the offering.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">7. Intellectual Property rights</p>
                                <ul class="tnc">
                                    <li>You acknowledge and agree that Bhashkar Jyotish Kendra (or Bhashkar Jyotish Kendra's licensors) owns all legal right, title and interest in and to the offering, including any intellectual property rights which subsist in the offering (whether those rights happen to be registered or not, and wherever in the world those rights may exist). You further acknowledge that the offering may contain information which is designated confidential by Bhashkar Jyotish Kendra and that you shall not disclose such information without Bhashkar Jyotish Kendra's prior written consent.</li>
                                    <li>Unless Bhashkar Jyotish Kendra has otherwise agreed in writing, nothing in the terms gives you a right to use any of Bhashkar Jyotish Kendra's trade names, trademarks, service marks, logos, domain names, and other distinctive brand features. You additionally agree that in using the offering, you will not use any trade mark, service mark, trade name, logo of any company or organization in a way that is likely or intended to cause confusion about the owner or authorized user of such marks, names or logos.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">8. License from Bhashkar Jyotish Kendra</p>
                                <ul class="tnc">
                                    <li>Bhashkar Jyotish Kendra gives you a personal non-exclusive license to use the software provided to you by Bhashkar Jyotish Kendra as part of the offering as provided to you by Bhashkar Jyotish Kendra. This license is for the sole purpose of enabling you to use and enjoy the benefit of the offering as provided by Bhashkar Jyotish Kendra, in the manner permitted by these terms.</li>
                                    <li>You are not entitled to commercially exploit, either directly or by sale, or transfer commercially or profit from the offering and products.</li>
                                    <li>You may not (and you may not permit anyone else to) copy, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of the software or any part thereof.</li>
                                    <li>Unless Bhashkar Jyotish Kendra has given you specific written permission to do so, you may not assign (or grant a sublicense of) your rights to use the service or otherwise transfer any part of your rights to use the service.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">9. Ending your relationship with Bhashkar Jyotish Kendra</p>
                                <ul class="tnc">
                                    <li>The Terms will continue to apply until terminated by either you or Bhashkar Jyotish Kendra as set out below.</li>
                                    <li>Bhashkar Jyotish Kendra may at any time, terminate its legal agreement with you if: (A) you have breached any provision of the terms (or have acted in manner which clearly shows that you do not intend to, or are unable to comply with the provisions of the terms) or (B) Bhashkar Jyotish Kendra is required to do so by law (for example, where the provision of the offering to you is, or becomes, unlawful)</li>
                                    <li>When these terms come to an end, all of the legal rights, obligations and liabilities that you and Bhashkar Jyotish Kendra are subject to in relation to the obligation to maintain confidentiality or such other legal rights, obligations and liabilities which are expressed to continue indefinitely, shall be unaffected by this cessation.Exclusion of Warranties</li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">10. Exclusion of Warranties</p>
                                <ul class="tnc">
                                    <li>You expressly understand and agree that your use of the offering is at your sole risk and that the offering is provided as is and as available.</li>
                                    <li>In particular, Bhashkar Jyotish Kendra does not represent or warrant to you that: (a) your use of the offering will meet your requirements, (b) your use of the offering will be uninterrupted, timely, secure or free from error, including specifically from server downtime, (c) any information obtained by you as a result of your use of the offering will be accurate or reliable, and</li>
                                    <li>Any material downloaded or otherwise obtained through the use of the offering is done at your own discretion and risk and Bhashkar Jyotish Kendra will not be responsible for any damage to your computer system or other device or loss of data that results from the download of any such material.</li>
                                    <li>No advice or information, whether oral or written, obtained by you from Bhashkar Jyotish Kendra or through or from the offering shall create any warranty not expressly stated in the terms.</li>
                                    <li>Bhashkar Jyotish Kendra further expressly disclaims all warranties and conditions of any kind, whether express or implied, including, but not limited to the implied warranties and conditions of merchantability, fitness for a particular purpose and noninfringement.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">11. Limitation of liability</p>
                                <ul class="tnc">
                                    <li>subject to overall provision in clause 11 above, you expressly understand and agree that templepolks shall not be liable to you far:</li>
                                    <li>
                                        any direct, indirect, incidental special, consequential or exemplary damages which may be incurred by you, however caused and under any theory of liability. this shall include, but not be limited to, any loss of profit (whether incurred directly or indirectly, any loss of goodwill or business reputation, any loss of data suffered, cost of procurement of substitute goods or offering, or other intangible loss (b)any loss or damage which may be incurred by you, including but not limited to loss or damage as a result of:
                                        <ul>
                                            <li>any changes which iimplefolks may make to the offering, or for any permanent or temporary cessation in the provision of the offering (or any features within the offering),</li>
                                            <li>the deletion op, corruption or or failure to store, any content and other communications data maintained or transmitted by or through your use of the offering</li>
                                            <li>your failure to provide templepolks with accurate account information</li>
                                            <li>your failure to keep your password or account details secure and confidential</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">12. Other content to which references are made, links are provided, etc.</p>
                                <ul class="tnc">
                                    <li>The offering may include hyperlinks mweb other web or contebl or resources. Bhashkar Jyotish Kendra may have no control over websites or resources which are provided by companies or persons o.er than Bhashkar Jyotish Kendra.</li>
                                    <li>You acknowledge and agree that Bhashkar Jyotish Kendra is not responsible for the availability of any such external sites or resources, and does not endorse advertising, products or other materials on or available from such web sites or resources.</li>
                                    <li>You acknowledge and agree that Bhashkar Jyotish Kendra is n. liable for a, loss or damage which may he incurred by you as a result of the availability of moss external sites or resources, or as a result of any reliance placed by you on the completeness, are or .istence of a, advertisi, products or other materials on, or available from, such websites or resources.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">13. Changes to the Terms</p>
                                <ul class="tnc">
                                    <li>Bhashkar Jyotish Kendra may make changes to the terms from time to time. The same will he communicated to you, on the web., without prior intimation to you. Your co.inued use of the offering will indicate your acceptance of the modified terms. When these changes are made, Bhashkar Jyotish Kendra shall make the amended copy of the terms available in an accessible location.</li>
                                    <li>You understand and agree that if you u. the offering after the date on which the terms have changed, or after the date by which you haven’t responded as per these terms has passed, Bhashkar Jyotish Kendra will treat your use as acceptance of the amended terms.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="sub-section">14. General legal terms</p>
                                <ul class="tnc">
                                    <li>Sometimes when you use the offerings, you may (as a result of, or through your use of the offering) use a service or download a piece of software, or purchase goods, which are provided by an person or company,our use of these other offering, software or goods may be subject to separate tern. between you and the company or person concerned.</li>
                                    <li>The terms constitute the legal agreement between you and Bhashkar Jyotish Kendra and govern your use of the offering, but without prejudice to any additional terms which may be part of an agreement specific to the service you wish to avail of (but excluding any offering which Bhashkar Jyotish Kendra may provide to you under a separate written agreement), and completely replace any prior agreement. between you and Bhashkar Jyotish Kendra in relation M the offering.</li>
                                    <li>You agree that if Bhashkar Jyotish Kendra does not exercise or enforce any legal right or remedy which is contained in the terms (or which Bhashkar Jyotish Kendra has the benefit of under a, applicable law), this will not be taken to be a formal waiver of Bhashkar Jyotish Kendra, righ. and that those rights or remedies will still be available to Bhashkar Jyotish Kendra.</li>
                                    <li>If any court of law, having the jurisdiction to decide on this matter, rules that any provision of these terms is invalid, Men that provision will be removed from Me terms without affecting Me rest of Me terms. The remaining provisions of the terms will continue to bey. and enforceable</li>
                                    <li>The terms, and your relationship with Bhashkar Jyotish Kendra under the terms, shall be governed by the laws of India. You and Bhashkar Jyotish Kendra agree that a dispute will be referred arbitration, with .e ate panel consisting of Mree arbitrators, one arbitrator being chosen by each party and a Mird being jointly appointed by the two arbitrators so chosen,</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

