/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --theme-color: #170135;
    --theme-font-color: white;
    --theme-button-color: purple;
    --theme-sub-section-color: #20c997;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.navbar-nav
{
    font-size:13px;
}

body {
    /* Margin bottom by footer height */
    margin: 0 0 60px 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    color: var(--theme-font-color);
}
.footer {
    position: absolute;
    background: var(--theme-color);
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    border-top-color: var(--theme-color) !important;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6f459c;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--theme-color);
    }

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }

    to {
        background-position: 10000px 0;
    }
}

.stars, .twinkling, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index:-1;
}

.stars {
    background: #000 url(../images/logo/stars.png) repeat top center;
    
}

.twinkling {
    background: transparent url(../images/logo/twinkling.png) repeat top center;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

header nav
{
    background:var(--theme-color);
    border-bottom-color:var(--theme-color) !important;
    color:var(--theme-font-color) !important;
}

    header nav a {
        color: var(--theme-font-color) !important;
    }

    .font-color {
        color: var(--theme-font-color) !important;
    }
.logo {
    border-radius: 53%;
    height: 50px;
    width: 50px;
    border: 2px solid #5208b7;
}
.hs_top_user_profile > img
{
    height:50px;
    width:50px;

}

.hs_top_user_profile p {
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    background: #71c386;
    font-size: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    margin-left: 34px;
    margin-top: -15px;
    cursor: pointer;
}

.footer-sec {
    background: var(--theme-color) !important;
    color: var(--theme-font-color);
    width: 100%;
    min-height: 100px;
    z-index: 90000;
   
    padding: 23px 15px 0px 0px;
    text-align: left;
    bottom: 47px;
    font-size:13px;
    /*position:absolute;*/
}

.content-sec {
    padding: 0;
    padding-left: 34px !important;
}

.footer-sec ul {
    list-style: none;
    padding-left:10px !important;
}

.content-sec p{
    text-transform:uppercase;
}

.footer-sec ul li a{
    text-decoration:none;
    transition:0.5s;
    color:var(--theme-font-color);
}

.socialsite
{
    font-size:20px;
}

.copyright {
    width: 100%;
    text-align: center;
    font-size: 9px;
    background: #1e2433;
    padding: 17px 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

.bjk-button {
    border-radius: 4px;
    background-color: var(--theme-button-color);
    border: none;
    color: var(--theme-font-color);
    text-align: center;
    font-size: 18px;
    width: 152px;
    transition: all 0.5s;
}

.bjk-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.bjk-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}


.bjk-button:hover span {
    padding-right: 25px;
}

    .bjk-button:hover span:after {
        opacity: 1;
        right: 0;
    }


.breadcrumb-data-1 {
}

.breadcrumb-data-2 ul {
    padding: 0px;
    margin: 0px;
    float: right;
}

    .breadcrumb-data-2 ul li:first-child {
        padding-left: 0px;
    }

    .breadcrumb-data-2 ul li {
        float: left;
        list-style: none;
        font-size: 15px;
        padding-left: 5px;
    }

        .breadcrumb-data-2 ul li a {
            color: #1b429a;
            margin-bottom: 0px;
            font-size: 13px;
            font-weight: 500;
            line-height: 28px;
            text-decoration: none;
            color: var(--theme-font-color) !important;
        }

        .breadcrumb-data-2 ul li span {
        }

        .breadcrumb-data-2 ul li p {
            color: #1b429a;
            margin-bottom: 0px;
            font-size: 13px;
            font-weight: 500;
            line-height: 28px;
            color: var(--theme-font-color) !important;
        }

.breadcrumb-data-3 h3 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    color: #1b429a;
    padding-top: 5px;
    margin-bottom: 0px;
    color: var(--theme-font-color) !important;
}

.breadcrumb-container {
    border: 1px solid var(--theme-button-color);
    background: var(--theme-button-color);
    border-radius: 4px;
    margin: 20px 10px;
    padding: 9px 20px;
    color: var(--theme-font-color) !important;
    line-height: 24px;
}

.page-data-container {
    margin: 0 10px 20px 10px;
}
.box-container {
    border: 1px dashed rgba(255, 255, 255, 0.5);
    padding:10px;
}
    .box-container h4 {
        font-size: 15px;
        background-image: linear-gradient(90deg, #390680,#1701357a);
        padding: 5px 10px;
    }

.bjk-nav {
    width: 100vw;
    height: 80px;
    background: var(--theme-color);
    color: var(--theme-font-color);
    padding: 8px 15px;
}
    .bjk-nav .logo-link {
        line-height: 60px;
        color: var(--theme-font-color);
        text-decoration:none;
    }
    .bjk-nav .logo-link img {
        width: 60px;
        height: 60px;
        border-radius: 50px;
    }

    .bjk-nav .logo-link .logo-subtext {
        vertical-align: bottom;
        position: absolute;
        left: 79px;
        top: 20px;
        font-size: 13px;
    }
    .bjk-nav .bjk-navbar {
        list-style: none;
        padding: 0;
        margin: 0;
        
    }
    .bjk-nav .bjk-navbar-item {
        float: right;
        padding: 17px 5px;
    }
    .bjk-nav .bjk-navbar-link {
        color: var(--theme-font-color);
        text-decoration: none;
    }
.bjk-mobile
{
    display:none;
}

.bjk-navbar-toggler {
    cursor: pointer;
    background: none;
    border: 0;
    font-size: 26px;
}
.bjk-navbar-toggler-container {
    padding: 10px 0;
}
@media only screen and (max-width: 600px) {
    .bjk-navbar {
        display: block;
        float: left !important;
        width: 100%;
    }
    .bjk-mobile{
        display:block;
    }
    .bjk-nav .logo-link img {
        width: 40px;
        height: 40px;
    }
    .bjk-nav .logo-link .logo-subtext {
        position: initial;
    }
    .bjk-nav .bjk-navbar-container {
        position: fixed;
        height: 100vh;
        left: 0;
        top: 79px;
        background: var(--cyan);
        z-index: 99;
        width: 80vw;
        display: none;
        transition: display 0.8s;
    }
    .bjk-nav .bjk-navbar-item {
        float: none !important;
        padding: 10px 14px;
        width: 100%;
        border-bottom: 1px solid #cccaca;
    }
    .bjk-profile-bg
    {
        width:100%;
        height:150px;
    }
    .bjk-profile-img {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 28px;
        left: 32vw;
    }
    .bjk-profile-name {
        position: absolute;
        top: 81px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .bjk-profile-close {
        position: relative;
        top: -143px;
        left: 274px;
        font-size: 22px;
    }
}