/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
    --theme-color: #170135;
    --theme-font-color:white;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-x:hidden;
  overflow-y:auto;
 color:var(--theme-font-color);
}
.footer {
    position: absolute;
    background: var(--theme-color);
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    border-top-color: var(--theme-color) !important;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6f459c;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--theme-color);
    }

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }

    to {
        background-position: 10000px 0;
    }
}

.stars, .twinkling, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index:-1;
}

.stars {
    background: #000 url(../images/logo/stars.png) repeat top center;
    
}

.twinkling {
    background: transparent url(../images/logo/twinkling.png) repeat top center;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

header nav
{
    background:var(--theme-color);
    border-bottom-color:var(--theme-color) !important;
    color:var(--theme-font-color) !important;
}

    header nav a {
        color: var(--theme-font-color) !important;
    }

    .font-color {
        color: var(--theme-font-color) !important;
    }
.logo {
    border-radius: 53%;
    height: 50px;
    width: 50px;
    border: 2px solid #5208b7;
}
.hs_top_user_profile > img
{
    height:50px;
    width:50px;

}

.hs_top_user_profile p {
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    background: #71c386;
    font-size: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    margin-left: 34px;
    margin-top: -15px;
    cursor: pointer;
}

.footer-sec {
    background: var(--theme-color) !important;
    color: var(--theme-font-color);
    width: 100%;
    min-height: 100px;
    z-index: 90000;
   
    padding: 23px 15px 0px 0px;
    text-align: left;
    bottom: 47px;
    font-size:13px;
    /*position:absolute;*/
}

.content-sec {
    padding: 0;
    padding-left: 34px !important;
}

.footer-sec ul {
    list-style: none;
    padding-left:10px !important;
}

.content-sec p{
    text-transform:uppercase;
}

.footer-sec ul li a{
    text-decoration:none;
    transition:0.5s;
    color:var(--theme-font-color);
}

.socialsite
{
    font-size:20px;
}

.copyright {
    width: 100%;
    text-align: center;
    font-size: 9px;
    background: #1e2433;
    padding: 17px 0;
    position: fixed;
    bottom: 0;
    right: 0;
}