<style>
    #card_contacts
    {
        margin-bottom:30px;
    }
    #contact-list img
    {
        height:100px;
        width:100px;
    }
    .lead.name
    {
        color:black;
    }
    #contact-list a {
        text-decoration: none;
        color: black;
    }
    .list-group-item h4, h5,ul,li {
        color: var(--theme-color)
    }
    .text-muted {
        font-size: 13px !important;
    }

    .pic-data {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .pic-data li {
            float: left;
           text-align:center;
           width:100%;
            padding: 6px 8px;
        }
    .card-gap {
        padding-bottom: 25px;
        border-bottom: 1px solid;
        padding-top: 25px;
    }
    .pic-data li a i{
        font-size:30px;
    }
</style>
<div class="container">
    <div class="card card-default" id="card_contacts">
        <div id="contacts" class="panel-collapse collapse show" aria-expanded="true" style="">
            <ul class="list-group pull-down" id="contact-list">
                <li class="list-group-item">
                    <h5>Our Astrologers</h5>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 card-gap">
                            <div class="row">
                                <div class="col-lg-3 col-sm-12 col-md-3 px-0">
                                    <img src="~/Images/Astro/Pt.HariharPrasad.jpg" title="Pt. Harihar Prasad Shukla" alt="Pt. Harihar Prasad Shukla" class="rounded-circle mx-auto d-block img-fluid">
                                    <ul class="pic-data d-md-block d-lg-none d-sm-block">
                                        <li><a href="https://api.whatsapp.com/send?phone=918896497399&amp;fbclid=IwAR234xKxG9fN5wnloC0-2rE1Fxe5zk1K8bwU3Fov1gyPe2u0N7zw4Lb2fHU" target="_blank"><i style="font-size:35px;color:forestgreen;" class="fab fa-whatsapp-square"></i></a></li>

                                    </ul>
                                </div>
                                <div class="col-lg-9 col-sm-12 col-md-9">
                                    @*<span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>*@
                                    <label class="name lead">Pt. Harihar Prasad Shukla</label>
                                    <br>
                                    <span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>
                                    <span class="text-muted">Jhusi, Prayagraj, UP, India</span>
                                    <br>
                                    <span class="fas fa-user-graduate fa-fw text-muted" data-toggle="tooltip" title="Eaperience" data-original-title="5842 Hillcrest Rd"></span>
                                    <span title="Eaperience" class="text-muted">16 Years</span>
                                    <br />
                                    <span class="fas fa-language fa-fw text-muted" data-toggle="tooltip" title="Language" data-original-title="5842 Hillcrest Rd"></span>
                                    <span title="Language" class="text-muted">Hindi</span>
                                    <br>
                                    <span class="fas fa-sun fa-fw text-muted" data-toggle="tooltip" title="Experts In" data-original-title="5842 Hillcrest Rd"></span>
                                    <span title="Experts In" class="text-muted">Astrology, Numerology, Palm Reading</span>
                                    <br>
                                    <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(+91) 8787250204"></span>
                                    <span class="text-muted small"><a href="tel:918787250204"> (+91) 8787250204</a></span>
                                    <br>
                                    <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                                    <span class="text-muted small text-truncate">harihar.shukla@bhashkarjyotishkendra.com</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 card-gap">
                            <div class="row">
                                <div class="col-lg-3 col-sm-12 col-md-3 px-0">
                                    <img src="~/Images/Astro/akshayshukla.jpg" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                                    <ul class="pic-data d-md-block d-lg-none d-sm-block">
                                        <li>
                                            <a href="tel:8896497399"><i style="color:cornflowerblue;margin-right:10px;" class="fas fa-phone-square"></i></a>
                                            <a href="https://api.whatsapp.com/send?phone=918896497399&amp;fbclid=IwAR234xKxG9fN5wnloC0-2rE1Fxe5zk1K8bwU3Fov1gyPe2u0N7zw4Lb2fHU" target="_blank"><i style="margin-right:10px;color:forestgreen;" class="fab fa-whatsapp-square"></i></a>
                                            <a href="mailto:Akshay.shukla@bhashkarjyotishkendra.com"><i style="color:brown;" class="fas fa-envelope-square"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-9 col-sm-12 col-md-9">

                                    <label class="name lead">Aacharya Akshay Shukla</label>
                                    <br>
                                    <span class="fa fa-map-marker fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="5842 Hillcrest Rd"></span>
                                    <span class="text-muted">Jhusi, Prayagraj, UP, India</span>
                                    <br>
                                    <span class="fas fa-user-graduate fa-fw text-muted" data-toggle="tooltip" title="Eaperience" data-original-title="5842 Hillcrest Rd"></span>
                                    <span title="Eaperience" class="text-muted">5 Years</span>
                                    <br />
                                    <span class="fas fa-language fa-fw text-muted" data-toggle="tooltip" title="Language" data-original-title="5842 Hillcrest Rd"></span>
                                    <span title="Language" class="text-muted">Hindi, English</span>
                                    <br>
                                    <span class="fas fa-sun fa-fw text-muted" data-toggle="tooltip" title="Experts In" data-original-title="5842 Hillcrest Rd"></span>
                                    <span title="Experts In" class="text-muted">Astrology, Numerology, Palm Reading</span>
                                    <br>
                                    <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="(+91) 8787250204"></span>
                                    <span class="text-muted small"><a href="tel:918896497399"> (+91) 8896497399</a></span>
                                    <br>
                                    <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                                    <span class="text-muted small text-truncate">Akshay.shukla@bhashkarjyotishkendra.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!--/contacts list-->
        </div>
    </div>
</div>