<style>
    #card_contacts
    {
        margin-bottom:30px;
    }
    #contact-list img
    {
        height:100px;
        width:100px;
    }
    .lead.name
    {
        color:black;
    }
    #contact-list a {
        text-decoration: none;
        color: black;
    }
    .list-group-item h4, h5,ul,li {
        color: var(--theme-color)
    }
    .text-muted {
        font-size: 13px !important;
    }

    .pic-data {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .pic-data li {
            float: left;
           text-align:center;
           width:100%;
            padding: 6px 8px;
        }
    .card-gap {
        padding-bottom: 25px;
        border-bottom: 1px solid;
        padding-top: 25px;
    }
    .pic-data li a i {
        font-size: 30px;
    }

    .MultiCarousel {
        float: left;
        overflow: hidden;
        padding: 15px;
        width: 100%;
        position: relative;
    }

        .MultiCarousel .MultiCarousel-inner {
            transition: 1s ease all;
            float: left;
        }

            .MultiCarousel .MultiCarousel-inner .item {
                float: left;
            }

                .MultiCarousel .MultiCarousel-inner .item > div {
                    text-align: center;
                    padding: 10px;
                    margin: 10px;
                    background: #f1f1f1;
                    color: #666;
                }

        .MultiCarousel .leftLst, .MultiCarousel .rightLst {
            position: absolute;
            border-radius: 50%;
            top: calc(50% - 20px);
        }

        .MultiCarousel .leftLst {
            left: 0;
        }

        .MultiCarousel .rightLst {
            right: 0;
        }

            .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
                pointer-events: none;
                background: #ccc;
            }

    .card-body ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .card-body ul li {
            text-align: left;
            font-size: 15px;
            color: black;
            border-bottom: 1px solid gainsboro;
            padding: 5px 10px;
        }
            .card-body ul li a {
                text-decoration: none;
                color: black;
                font-size: 13px;
            }

        .pad15
        {
            background:black !important;
            padding:15px !important;
        }
</style>
<script>
    $(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').click(function () {
        var condition = $(this).hasClass("leftLst");
        if (condition)
            click(0, this);
        else
            click(1, this)
    });

    ResCarouselSize();




    $(window).resize(function () {
        ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / incno;
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / incno;
            }
            else {
                incno = itemsSplit[0];
                itemWidth = sampwidth / incno;
            }
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");

        });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
        var leftBtn = ('.leftLst');
        var rightBtn = ('.rightLst');
        var translateXval = '';
        var divStyle = $(el + ' ' + itemsDiv).css('transform');
        var values = divStyle.match(/-?[\d\.]+/g);
        var xds = Math.abs(values[4]);
        if (e == 0) {
            translateXval = parseInt(xds) - parseInt(itemWidth * s);
            $(el + ' ' + rightBtn).removeClass("over");

            if (translateXval <= itemWidth / 2) {
                translateXval = 0;
                $(el + ' ' + leftBtn).addClass("over");
            }
        }
        else if (e == 1) {
            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
            translateXval = parseInt(xds) + parseInt(itemWidth * s);
            $(el + ' ' + leftBtn).removeClass("over");

            if (translateXval >= itemsCondition - itemWidth / 2) {
                translateXval = itemsCondition;
                $(el + ' ' + rightBtn).addClass("over");
            }
        }
        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
        var Parent = "#" + $(ee).parent().attr("id");
        var slide = $(Parent).attr("data-slide");
        ResCarousel(ell, Parent, slide);
    }

});
</script>
<div class="container">
    <div class="row">
        <div class="MultiCarousel" data-items="1,2,3,3" data-slide="1" id="MultiCarousel" data-interval="1000">
            <div class="MultiCarousel-inner">
                <div class="item">
                    <div class="pad15">
                        <div class="card lead">
                            <a asp-action="astrologersprofile" asp-controller="astrology" asp-area=""> <img style="width:100px;height:100px;" src="~/Images/Astro/Pt.HariharPrasad.jpg" title="Pt. Harihar Prasad Shukla" alt="Pt. Harihar Prasad Shukla" class="rounded-circle mx-auto d-block img-fluid"></a>
                            <ul class="pic-data d-md-block d-lg-none d-sm-block">
                                <li><a href="https://api.whatsapp.com/send?phone=918896497399&amp;fbclid=IwAR234xKxG9fN5wnloC0-2rE1Fxe5zk1K8bwU3Fov1gyPe2u0N7zw4Lb2fHU" target="_blank"><i style="font-size:35px;color:forestgreen;" class="fab fa-whatsapp-square"></i></a></li>

                            </ul>
                            <div class="card-body">
                                <h5 class="card-title">Pt. Harihar Prasad Shukla</h5>
                                <ul>
                                    <li title="Address"><i class="fa fa-map-marker fa-fw text-muted"></i> Jhusi, Prayagraj, UP, India</li>
                                    <li title="Eaperience"><i class="fas fa-user-graduate fa-fw text-muted"></i> 16 Years</li>
                                    <li title="Language"><i class="fa fa-language fa-fw text-muted"></i> Hindi</li>
                                    <li title="Experts In"><i class="fa fa-sun fa-fw text-muted"></i> Astrology, Numerology, Palm Reading</li>
                                    <li><i class="fa fa-phone fa-fw text-muted"></i> <a href="tel:918787250204"> (+91) 8787250204</a></li>
                                    <li><i class="fa fa-envelope fa-fw text-muted"></i> <a href="mailto:harihar.shukla@bhashkarjyotishkendra.com"> Harihar.shukla@bhashkarjyotishkendra.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <div class="card lead">
                            <a asp-action="astrologersprofile" asp-controller="astrology" asp-area="">
                                <img style="width:100px;height:100px;" src="~/Images/Astro/akshayshukla.jpg" title="Aacharya Akshay Shukla" alt="Aacharya Akshay Shukla" class="rounded-circle mx-auto d-block img-fluid"></a>
                                <ul class="pic-data d-md-block d-lg-none d-sm-block">
                                    <li>
                                        <a href="tel:8896497399"><i style="color:cornflowerblue;margin-right:10px;" class="fas fa-phone-square"></i></a>
                                        <a href="https://api.whatsapp.com/send?phone=918896497399&amp;fbclid=IwAR234xKxG9fN5wnloC0-2rE1Fxe5zk1K8bwU3Fov1gyPe2u0N7zw4Lb2fHU" target="_blank"><i style="margin-right:10px;color:forestgreen;" class="fab fa-whatsapp-square"></i></a>
                                        <a href="mailto:Akshay.shukla@bhashkarjyotishkendra.com"><i style="color:brown;" class="fas fa-envelope-square"></i></a>
                                    </li>

                                </ul>
                                <div class="card-body">
                                    <h5 class="card-title">Aacharya Akshay Shukla</h5>
                                    <ul>
                                        <li title="Address"><i class="fa fa-map-marker fa-fw text-muted"></i> Jhusi, Prayagraj, UP, India</li>
                                        <li title="Eaperience"><i class="fas fa-user-graduate fa-fw text-muted"></i> 5 Years</li>
                                        <li title="Language"><i class="fa fa-language fa-fw text-muted"></i> Hindi, English</li>
                                        <li title="Experts In"><i class="fa fa-sun fa-fw text-muted"></i> Astrology, Numerology, Palm Reading</li>
                                        <li><i class="fa fa-phone fa-fw text-muted"></i> <a href="tel:+918896497399"> (+91) 8896497399</a></li>
                                        <li><i class="fa fa-envelope fa-fw text-muted"></i> <a href="mailto:harihar.shukla@bhashkarjyotishkendra.com"> Akshay.shukla@bhashkarjyotishkendra.com</a></li>
                                    </ul>
                                </div>
</div>
                    </div>
                </div>
                <div class="item">
                    <div class="pad15">
                        <div class="card lead" style="height: 85%;position: absolute;width: 30%;">
                            <div class="card-body">
                                <h5 class="card-title">Coming Soon..</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
        </div>
    </div>
</div>