<style>
    .dx-fieldset {
        margin: 5px 0;
    }

    .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button), .dx-field-value-static {
        width: 100%;
    }
</style>
<script src="~/js/PartialView/ContactForm.js"></script>
<form id="frmContactForm">
    <div class="row">
        <div class="col-md">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-value">
                        <div id="txtName"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-value">
                        <div id="txtEmail"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-value">
                        <div id="txtMobile"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-value">
                        <div id="ddlQuestion"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-value">
                        <div id="txtQuery"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div style="text-align:right;width:100%;margin: 10px 0;">
                <div id="btnContactForm" class="bjk-button"></div>
            </div>
        </div>
    </div>
</form>