<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="https://cdn3.devexpress.com/jslib/19.2.4/js/dx.all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.2.4/css/dx.common.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.2.4/css/dx.light.css" />
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdn3.devexpress.com/jslib/19.2.4/js/dx.all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.2.4/css/dx.common.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/19.2.4/css/dx.light.css" />
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
    <script src="~/js/Common/Constants.js"  asp-append-version="true"></script>
    <script src="~/js/Common/common.js" asp-append-version="true"></script>
    <script src="~/js/Common/api.js" asp-append-version="true"></script>
    <script src="~/js/Common/apiUrls.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <title>@ViewData["Title"] - BJK</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <div class="stars"></div>
    <div class="twinkling"></div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="logo" src="~/Images/logo/logo_sm.jpg" alt="Logo" />
                Bhashkar Jyotish Kendra</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars font-color"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="aboutus">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <div class="footer-sec">
        <div class="row bt-footer">
            <div class="col-md-2 col-sm-6 content-sec">
                <p>The Sun Sign</p>
                <ul>
                    <li><a href="/zodiac-signs/aries/" title="Aries">Aries</a></li>
                    <li><a href="/zodiac-signs/taurus/" title="Taurus">Taurus</a></li>
                    <li><a href="/zodiac-signs/gemini/" title="Gemini">Gemini</a></li>
                    <li><a href="/zodiac-signs/cancer/" title="Cancer">Cancer</a></li>
                    <li><a href="/zodiac-signs/leo/" title="Leo">Leo</a></li>
                    <li><a href="/zodiac-signs/virgo/" title="Virgo">Virgo</a></li>
                    <li><a href="/zodiac-signs/libra/" title="Libra">Libra</a></li>
                    <li><a href="/zodiac-signs/scorpio/" title="Scorpio">Scorpio</a></li>
                    <li><a href="/zodiac-signs/sagittarius/" title="Sagittarius">Sagittarius</a></li>
                    <li><a href="/zodiac-signs/capricorn/" title="Capricorn">Capricorn</a></li>
                    <li><a href="/zodiac-signs/aquarius/" title="Aquarius">Aquarius</a></li>
                    <li><a href="/zodiac-signs/pisces/" title="Pisces">Pisces</a></li>
                </ul>
            </div>
            <div class="col-md-2  col-sm-6 content-sec">
                <p>HOROSCOPE</p>
                <ul>
                    <li><a href="/daily-horoscope/" title="Daily Horoscopes">Daily Horoscopes</a></li>
                    <li><a href="/weekly-horoscope/" title="Weekly Horoscopes">Weekly Horoscope</a></li>
                    <li><a href="/monthly-horoscope/" title="Monthly Horoscopes">Monthly Horoscope</a></li>
                    <li><a href="/yearly-horoscope/" title="Yearly Horoscopes">Yearly Horoscope</a></li>
                    <li><a href="2020-horoscope/" title="Horoscopes 2020">2020 Horoscope</a></li>
                    <!--  <li><a href="my-life/2017-horoscope-reports/" title="2017 Horoscope">2017 Horoscope</a></li> -->
                    <li><a href="zodiac-signs/compatibility/" title="Compatibility">Compatibility</a></li>
                    <!-- <li><a href="#" title="Kundli">Kundli</a></li> -->
                    <li><a href="free-horoscope/guna-match/" title="Kundli Matching">Kundli Matching</a></li>
                    <li><a href="chinese-astrology/" title="Chinese Astrology">Chinese Astrology</a></li>
                    <li><a href="tarot/" title="Tarot Cards">Tarot</a></li>
                    <li><a href="numerology/" title="Numerology">Numerology</a></li>
                    <li><a href="orderForm.action?productId=4076&amp;gsPosition=Footer" title="2020 Horoscope Reports">2020 Horoscope Reports</a></li>
                    <!--  <li><a href="free-horoscope/" title="Free Astrology Reports">Free Astrology Reports</a></li> -->
                    <!--  <li><a href="celebrity-astrologers/" title="Celebrity Astrologer">Celebrity Astrologer</a></li> -->
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 content-sec">
                <p>Free Reports</p>
                <ul>
                    <li><a href="free-horoscope/birth-star-report/" title="Know Your Nakshatra by Date of Birth">Nakshatra Report</a></li>
                    <li><a href="free-horoscope/birth-horoscope-report/" title="Free Kundali Online">Free Kundali</a></li>
                    <li><a href="free-horoscope/guna-match/" title="Free Kundali Match Making">Free Kundali Matching</a></li>
                    <li><a href="free-horoscope/shani-dosha-report/" title="Free Shani Dosha Report">Shani Dosha Report</a></li>
                    <li><a href="free-horoscope/mangal-dosha-report/" title="Free Mangal Dosha Report">Mangal Dosha Report</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 content-sec">
                <p>Corporate Info</p>
                <ul>
                    <li><a asp-area="" asp-controller="Home" asp-action="aboutus" title="About us">About us</a></li>
                    <li><a href="expert-astrologers/" title="Team">Team</a></li>
                    <li><a href="careers/" title=">Work with us">Work with us</a></li>
                    <li><a href="faqs/" title="FAQ’s">FAQ’s</a></li>
                    <li><a href="privacy-policy/" title="Privacy Policy">Privacy Policy</a></li>
                    <li><a href="terms-of-service/" title="Terms of Service">Terms of Service</a></li>
                    <!-- <li><a href="#" title="">Disclaimer</a></li> -->
                    <li><a href="security/" title="Security">Security</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 content-sec">
                <p>contact details</p>
                <ul>
                    <li style="color:white;"><i class="fas fa-home"></i> 6/121, Awas Vikas Colony, Jhusi Prayagraj, UP, India</li>
                    <li style="color:white;"><i class="fas fa-mobile-alt"></i> Phone : <a href="tel:+91-8787250204">8787250204</a>,<a href="tel:+91-8896497399"> 8896497399</a></li>
                    <li style="color:white;"><i class="fas fa-envelope"></i> Email : <a style="word-break: break-all;" href="mailto:support@letspaintcreative.com">support@letspaintcreative.com</a></li>
                    <li class="socialsite">
                        <a href="https://api.whatsapp.com/send?phone=918896497399&amp;fbclid=IwAR234xKxG9fN5wnloC0-2rE1Fxe5zk1K8bwU3Fov1gyPe2u0N7zw4Lb2fHU" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
                        <a href="https://www.facebook.com/bhaskar.jyotishkendra.5" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.instagram.com/letspaintcreative/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://m.me/letspaintcreative" target="_blank"><i class="fab fa-facebook-messenger"></i></a>
                        <a href="https://twitter.com/LetsPaintCreat1" target="_blank"><i class="fab fa-twitter-square"></i></a>
                        <a href="tel:+91-9891674974" class="mobile"><i class="fas fa-phone-square-alt"></i></a>

                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p style="margin-bottom:0px;">COPYRIGHT  &copy; @DateTime.Now.Year ALL RIGHTS RESERVED.</p>
                <p style="margin-bottom:0px;">Design and Developed by <span>Bhaskar Jyotish Kendra</span></p>
            </div>
        </div>
    </div>
    @*<footer class="">
        <ul>
            <li></li>
        </ul>
        <div class="container">
            &copy; 2020 - BJK - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@



    
</body>
</html>
