@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    .bjk-login-container {
        min-height: 50vh;
        padding: 10px 20px;
        margin-top: 51px;
    }

    .bjk-login-logo {
        width: 100%;
        text-align: center;
    }

        .bjk-login-logo img {
            border-radius: 50px;
            height: 11vh;
            margin-top: 10px;
        }

    .bjk-login-ctrl {
    }

    .login-lbl {
        text-align: center;
        margin: 0;
        padding: 0;
        color: var(--them-font-color);
        font-size: 12px;
    }

    .bjk-login-logo p {
        border-bottom: 1px solid var(--theme-font-color);
        padding-bottom: 2px;
        margin-bottom: 5px;
    }

    .wrapper {
        position: relative;
    }

    .right, .left {
        width: 50%;
        position: absolute;
    }

    .right {
        right: 0;
        text-align: right;
    }

    .left {
        left: 0;
    }

    .field-validation-error {
        font-size: 13px;
    }

    .validation-summary-errors ul {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 13px;
    }

        .validation-summary-errors ul li {
            text-align: center;
        }
</style>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 offset-md-3 offset-lg-3">
        <div class="bjk-login-container">
            <div class="bjk-login-logo">
                <img src="~/Images/logo/logo_sm.jpg" alt="Bhakshkar Jyotish Kendra Logo" />
                <p>Bhakshkar Jyotish Kendra</p>
            </div>
            <div class="bjk-login-ctrl">
                <section>
                    <p class="login-lbl">@ViewData["Title"]</p>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger bjk-mobile-hide"></div>
                        <div class="form-group">
                            <label class="bjk-mobile-hide" asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="wrapper" style="height:40px;">
                            <div class="left">
                            </div>
                            <div class="right"> <button type="submit" class="btn btn-primary">Submit</button></div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
