
@{
    ViewData["Title"] = "Astrologers Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Astrology/AstroProfile.css" rel="stylesheet" />
<div class="breadcrumb-container">
    <div class="breadcrumb-data-1">
        <div class="row">
            <div class="col-md-6 col-5">
                <div class="breadcrumb-data-3">
                    <h3>@ViewData["Title"]</h3>
                </div>
            </div>
            <div class="col-md-6 col-7">
                <div class="breadcrumb-data-2 d-none d-sm-block">
                    <ul>
                        <li><a href="/home/index">Home</a></li>
                        <li><span>/</span></li>
                        <li><a href="/astrology/astrologers">Astrologers</a></li>
                        <li><span>/</span></li>
                        <li><p>@ViewData["Title"]</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-data-container">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="info">
                <div class="info-profile-data">
                    <div class="info-profile-img">
                        <img src="~/Images/Astro/Pt.HariharPrasad.jpg" />
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" title="Address"><i class="fa fa-map-marker fa-fw text-muted"></i> Jhusi, Prayagraj, UP, India</li>
                        <li class="list-group-item" title="Eaperience"><i class="fas fa-user-graduate fa-fw text-muted"></i> 16 Years</li>
                        <li class="list-group-item" title="Language"><i class="fa fa-language fa-fw text-muted"></i> Hindi</li>
                        <li class="list-group-item" title="Experts In"><i class="fa fa-sun fa-fw text-muted"></i> Astrology, Numerology, Palm Reading</li>
                        <li class="list-group-item"><i class="fa fa-phone fa-fw text-muted"></i> <a href="tel:918787250204"> (+91) 8787250204</a></li>
                        <li class="list-group-item"><i class="fa fa-envelope fa-fw text-muted"></i> <a href="mailto:harihar.shukla@bhashkarjyotishkendra.com"> Harihar.shukla@bhashkarjyotishkendra.com</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9 bjk-pad-15">
            <div class="row  bjk-bg" style="margin-top:80px;margin:0;">
                <div class="col-12 bjk-pad-15">
                    <div class="bjk-bg">
                        <h5>Rating Overview</h5>
                        <div class="width100 fl marginB20 bjk-bg">
                            <div class="width30">
                                <div class="width100 fl green-bg pad10 border-radius-six">
                                    <span class="ico13 txtcenter db marginB5 color-fff">Rating</span>
                                    <span class=" ico24 txtcenter db marginB5 bold letter4 color-fff">
                                        4.33
                                        <span class="light-green">/5</span>
                                    </span>
                                    <span class=" ico12 txtcenter db marginB5 color-fff">3 Ratings</span>
                                    <span class=" ico12 txtcenter db marginB5 color-fff">3 Reviews</span>
                                </div>
                            </div>
                            <div class="rating-section fl padL15">
                                <div class="ratingRightBlk">
                                    <div class="width100 fl flex marginB3 align-cent">
                                        <div class="fl padR10">
                                            <span class="ico14">5</span>
                                            <i class="fas fa-star ico14" aria-hidden="true"></i>
                                        </div>
                                        <div class="barWrap ">
                                            <span class="barbackGround fiveStar" style="width: 1%;"></span>
                                        </div>
                                        <span class="ico12 fr color-e0e">1</span>
                                    </div>
                                    <div class="width100 fl  flex align-cent marginB3">
                                        <div class="fl padR10">
                                            <span class="ico14">4</span> 
                                            <i class="fas fa-star ico14" aria-hidden="true"></i>
                                        </div>
                                        <div class="barWrap ">
                                            <span class="barbackGround fourStar" style="width: 2%;"></span>
                                        </div>
                                        <span class="ico12 fr color-e0e ">2</span>
                                    </div>
                                    <div class="width100 fl  flex align-cent marginB3">
                                        <div class="fl padR10">
                                            <span class="ico14">3</span>
                                            <i class="fas fa-star ico14" aria-hidden="true"></i>
                                        </div>
                                        <div class="barWrap ">
                                            <span class="barbackGround threeStar" style="width: 0%;"></span>
                                        </div>
                                        <span class="ico12 fr color-e0e ">0</span>
                                    </div>
                                    <div class="width100 fl  flex align-cent marginB3">
                                        <div class="fl padR10">
                                            <span class="ico14">2</span>
                                            <i class="fas fa-star ico14" aria-hidden="true"></i>
                                        </div>
                                        <div class="barWrap ">
                                            <span class="barbackGround twoStar" style="width: 0%;"></span>
                                        </div>
                                        <span class="ico12 fr color-e0e">0</span>
                                    </div>
                                    <div class="width100 fl  flex align-cent marginB3">
                                        <div class="fl padR10">
                                            <span class="ico14">1</span>
                                            <i class="fas fa-star ico14" aria-hidden="true"></i>
                                        </div>
                                        <div class="barWrap ">
                                            <span class="barbackGround oneStar" style="width: 0%;"></span>
                                        </div>
                                        <span class="ico12 fr color-e0e">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 bjk-pad-15">
                    <div class="width100 fl marginB20">
                        <p class="ico20 font500 marginB20 color-e0e">Reviews</p><div class="width100 fl white-bg pad20 astro-bg bg-hover posrel marginB10">
                            <span class="astro-review">4.0/5</span><p class="ico13 font400 marginB10 color-e0e mr-10">
                                Honest in giving replies. Exactly predicted my past.
                            </p><p class="ico13 font400 marginB10 color-b9b">Sanjeeve Ticku ,August, 2020</p>
                        </div><div class="width100 fl white-bg pad20 astro-bg bg-hover posrel marginB10">
                            <span class="astro-review">5.0/5</span><p class="ico13 font400 marginB10 color-e0e mr-10">
                                Mr Kumar, gave me all correct information from my past and near past. He told me remedies which I need to take to be careful in future. I am glad I spoke to him.
                            </p><p class="ico13 font400 marginB10 color-b9b">Sneha  ,July, 2020</p>
                        </div><div class="width100 fl white-bg pad20 astro-bg bg-hover posrel marginB10">
                            <span class="astro-review">4.0/5</span><p class="ico13 font400 marginB10 color-e0e mr-10">
                                Amazing astrologer. Must speak to him when in difficult situations of life as he guides you the best. I highly recommend people as i have found relief from my problems in life to the maximum exten
                            </p><p class="ico13 font400 marginB10 color-b9b">Surender Bhat ,June, 2020</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
